{% extends 'base.html.twig' %}

{% block meta_tags %}
    <meta name="description" content="Trouvez des professionnels de l'audiovisuel et du cinema en Charente Maritime grâce à Coolisses, l'association rochelaise de professionnels du cinéma">
    <meta name="keywords" content="coolisses, association, cinema, la rochelle, services, professionnels, base de données, mise en relation, location, materiel, camera, ateliers, formations, stages, ressources, location, materiel, accompagnement">
    <meta name="robots" content="index, follow">
{% endblock %}

{% block title %}Mise en relation{% endblock %}

{% block body %}


    <section class="flex flex-col p-8 gap-8">

        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-4">
                <div class="flex gap-1 items-center">
                    <a href="/" class="text-[#777777] leading-none hover:underline">Accueil</a>                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                    <a href="/profils" class="font-medium leading-none">Profils</a>
                </div>
                <h1 class="text-5xl font-bold">Trouver un profil</h1>
                <p class="text-md font-medium">Retrouvez ici comédiens, figurants, metteur en scène, voix off et autres talents de Coolisses.</p>
            </div>

            {{ form_start(form) }}
            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col gap-2">
                    {{ form_label(form.metier, 'Type de profil : ') }}
                    <div class="flex">
                        {{ form_widget(form.metier) }}
                        {% if app.request.get('profil_search')['metier'] is defined and app.request.get('profil_search')['metier'] is not empty %}
                            <button type="submit" name="profil_search[metier]" value="" class="bg-[#1313BC] w-[40px] flex justify-center items-center group cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:rotate-360 transition-transform duration-300"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.metier) }}
                </div>
                <div class="flex flex-col gap-2">
                    {{ form_label(form.experience, 'Experience : ') }}
                    <div class="flex">
                        {{ form_widget(form.experience) }}
                        {% if app.request.get('profil_search')['experience'] is defined and app.request.get('profil_search')['experience'] is not empty %}
                            <button type="submit" name="profil_search[experience]" value="" class="bg-[#1313BC] w-[40px] flex justify-center items-center group cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:rotate-360 transition-transform duration-300"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.experience) }}
                </div>
                <div class="flex flex-col gap-2">
                    {{ form_label(form.langue, 'Langue : ') }}
                    <div class="flex">
                        {{ form_widget(form.langue) }}
                        {% if app.request.get('profil_search')['langue'] is defined and app.request.get('profil_search')['langue'] is not empty %}
                            <button type="submit" name="profil_search[langue]" value="" class="bg-[#1313BC] w-[40px] flex justify-center items-center group cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:rotate-360 transition-transform duration-300"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.langue) }}
                </div>
                <div class="flex flex-col gap-2">
                    {{ form_label(form.genre, 'Genre : ') }}
                    <div class="flex">
                        {{ form_widget(form.genre) }}
                        {% if app.request.get('profil_search')['genre'] is defined and app.request.get('profil_search')['genre'] is not empty %}
                            <button type="submit" name="profil_search[genre]" value="" class="bg-[#1313BC] w-[40px] flex justify-center items-center group cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:rotate-360 transition-transform duration-300"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.genre) }}
                </div>
                <div class="flex flex-col gap-2">
                    {{ form_label(form.agemin, 'Age min : ') }}
                    <div class="flex">
                        {{ form_widget(form.agemin) }}
                        {% if app.request.get('profil_search')['agemin'] is defined and app.request.get('profil_search')['agemin'] is not empty %}
                            <button type="submit" name="profil_search[agemin]" value="" class="bg-[#1313BC] w-[40px] flex justify-center items-center group cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:rotate-360 transition-transform duration-300"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.agemin) }}
                </div>
                <div class="flex flex-col gap-2">
                    {{ form_label(form.agemax, 'Age max : ') }}
                    <div class="flex">
                        {{ form_widget(form.agemax) }}
                        {% if app.request.get('profil_search')['agemax'] is defined and app.request.get('profil_search')['agemax'] is not empty %}
                            <button type="submit" name="profil_search[agemax]" value="" class="bg-[#1313BC] w-[40px] flex justify-center items-center group cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:rotate-360 transition-transform duration-300"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.agemax) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="flex flex-col items-center gap-8">
            {% if profils is not empty %}
                <div class="grid 2xl:grid-cols-6 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-3 gap-4">
                    {% for profil in profils %}
                        <a href="/profils/{{ profil.id }}" class="block">
                            {% include 'profil/profilCard.html.twig' with {'profil': profil} %}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun profil ne correspond à ces critères</p>
            {% endif %}
        </div>
    </section>

{% endblock %}









