<style>
    header {
        top: 0;
        left: 0;
        position: sticky;
        width: 100%;
        z-index: 900
    }

     #menu-btn.open span:nth-child(1) {
         transform: rotate(45deg);
         transform-origin: center;
         translate: 0;
     }
    #menu-btn.open span:nth-child(2) {
        opacity: 0;
    }
    #menu-btn.open span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: center;
        translate: 0;
    }

</style>

{% if alert is defined and alert is not null %}
    <div id="alert-div" style="background-color: {{ alert.couleur }}" class="alert-div aic">
        <div class="alert-content row aic sb">
            <div></div>
            <a href="{{ alert.lien }}" class="alert-link row aic jcc gap20">
                <p class="white">{{ alert.message }}</p>
                <svg style="margin-bottom: 5px" class="icon service-icon arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
            </a>
            <a id="close-alert-btn" class="close-alert-btn column aic jcc">
                <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" fill="white"/></svg>
            </a>
        </div>
    </div>
{% endif %}

<header class="bg-white">
    <div class="px-8 py-4 flex justify-between ">
        <div class="flex items-center gap-4">
            <a href="/">
                <div class="bg-black h-8 w-24"></div>
                {# <img class="header-logo" src="{{ asset('img/logo.png') }}" alt=""> #}
            </a>
            <nav class="hidden lg:flex items-center gap-4">
                <a class="hover:underline" href="/">Accueil</a>
                <div class="group">
                    <a class="flex items-center gap-2" href="/services">
                        Nos services
                        <svg class="size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </a>
                    <div class="absolute invisible pt-2 group-hover:visible">
                        <div class="flex flex-col p-4 gap-2 shadow bg-white">
                            <a class="hover:underline" href="/formations">Formation professionnelle</a>
                            <a class="hover:underline" href="/stages">Stage de découverte</a>
                            <a class="hover:underline" href="/profils">Profils</a>
                            <a class="hover:underline" href="/locations">Location de materiel</a>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <a class="flex items-center gap-2" href="/services">
                        Nos réalisations
                        <svg class="size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </a>
                    <div class="absolute invisible pt-2 group-hover:visible ">
                        <div class="flex flex-col p-4 gap-2 shadow bg-white">
                            <a class="hover:underline" href="/realisations">Toutes les réalisations</a>
                            <a class="hover:underline" href="{{ path('app_archive') }}">Archives</a>
                        </div>
                    </div>
                </div>
                <a class="hover:underline" href="{{ path('app_actualites') }}">Actualité</a>
            </nav>

        </div>

        <div class="flex items-center gap-4">
            <div class="hidden sm:flex flex items-center gap-4">
                <a class="hover:underline" href="{{ path('app_contact') }}">Nous contacter</a>
                <a href="{{ path('app_adherer') }}" class="rounded-full w-fit bg-black text-white px-4 py-2">Adhérer</a>
            </div>

            <button id="menu-btn" class="flex flex-col justify-center items-center w-6 h-4 relative cursor-pointer lg:hidden">
                <span class="w-6 h-0.5 bg-black absolute transition-all duration-300 ease-in-out -translate-y-2"></span>
                <span class="w-6 h-0.5 bg-black absolute transition-all duration-300 ease-in-out"></span>
                <span class="w-6 h-0.5 bg-black absolute transition-all duration-300 ease-in-out translate-y-2"></span>
            </button>
        </div>
    </div>

    <div id="drawer" class="flex flex-col gap-4 p-4 border-b border-black md:hidden" >
        <a href="/">Accueil</a>
        <a href="/services">Nos services</a>
        <a href="{{ path('app_realisations') }}">Nos réalisations</a>
        <a href="{{ path('app_actualites') }}">Actualité</a>
        <a href="{{ path('app_contact') }}">Nous contacter</a>
        <a href="{{ path('app_adherer') }}">Adhérer</a>
    </div>
</header>




<script>
    document.addEventListener('DOMContentLoaded', () => {
        
        const menuBtn = document.getElementById('menu-btn');
        let showDrawer = false;

        const drawer = document.getElementById('drawer');
        drawer.style.display = 'none';

        if (menuBtn) {
            menuBtn.addEventListener('click', () => {
                if (showDrawer) {
                    drawer.style.display = 'none';
                    menuBtn.classList.remove('open');
                } else {
                    drawer.style.display = 'flex';
                    menuBtn.classList.add('open');
                }
                showDrawer = !showDrawer;
            });
        }

        const alertDiv = document.getElementById('alert-div');
        const closeAlertBtn = document.getElementById('close-alert-btn');

        if (alertDiv && closeAlertBtn) {
            let dateActuelle = new Date();
            let dateStockee = new Date(localStorage.getItem('isClosedAt'));

            let differenceEnMilliseconds = Math.abs(dateActuelle - dateStockee);
            let differenceEnHeures = differenceEnMilliseconds / (1000 * 60 * 60);

            if (differenceEnHeures > 1) {
                alertDiv.style.display = 'flex';
            }

            closeAlertBtn.addEventListener('click', function() {
                alertDiv.style.display = 'none';
                localStorage.setItem('isClosedAt', new Date().toString());
            });
        }
    });
</script>





